* {
margin: 0;
padding: o;
box-sizing: border-box;


}

ul {
    list-style: none;
}

body {

    background-color:#121214 ;
    background-image:url(./bg.svg);
    background-position-x:center;
    background-position-y:55%;
}

body {

    font-family: "ROBOTO",sans-serif;
}

#app {

    width: fit-content;
    margin: 52px auto;
}

header {
    margin-bottom: 63px;


}

.card {

    padding: 32px 23px;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2px solid #f7dd43;

}

.card h2 {
 
     display: flex;
     gap: 16px;
     justify-content: center;
     align-items: center;
     padding: 8px 16px;
     border: 1px solid #746615;
     border-radius: 6px;
     width: fit-content;
     margin-inline: auto;
     margin-bottom: 53px;
     color: #f7dd43;
    

}

.card span {

    color: #e1e1e6;
     font-size:14px;
     text-transform: uppercase;

}
.card ul li {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.card ul li + li {
    padding-top: 24
    border-top: 1px solid #323238;
    

  }

  .card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #E1E1E6;
  }

  .card2 {
    margin-top: 60px;
    padding: 32px 23px;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    
}

.card2 h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #f7dd43;

    
}

.card2 span {

    color: #e1e1e6;
     font-size:14px;
     text-transform: uppercase;

}

.card2 ul li {

    display: flex;
    align-items: center;
    justify-content: space-between;
  

}




.card2 ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #E1E1E6;
  }



  .card h2:hover,
  .card ul li strong:hover,
  .card ul li img:hover {
    transform: scale(1.1);
  }


  .card2 h2:hover,
  .card2 ul li strong:hover,
  .card2 ul li img:hover {
    transform: scale(1.1);
  }

 
  .card {
    opacity: 0;
    animation: appear 0.2s forwards;
  }



  .card2 {
    opacity: 0;
    animation: appear 0.2s forwards;
  }



  @keyframes appear {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }